.form-login{
    margin-top: 14%;
    margin-left: 30%;
    margin-right: 30%;
    background-image: url("loging-cover.png");   
    border-radius: 3%;
}
.form-group{
    padding: 6%;
}
.col-8{
    background-color: rgba(255, 255, 255, 0.697);
    padding: 8%;
}
h1{
    text-align: center;
}
button{
    margin: 3%;
   margin-left: 36%;
}
.row{
    padding: 0%;
}
label{
    color: blue;
  
}
.row{
    margin-top: 7%;
}

