.container{
    margin-top: 4%;
   
    background-image: url("./users.png");
    padding: 10%;
    border-radius: 10%;
    padding-left: 10%;
    padding-right: 10%;
    
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
}
.btn{
    background-color: rgb(138, 255, 127);
    border-radius: 10%;
    border-color: rgb(17, 255, 0);
    color: aliceblue;
}
