<div class="container">


<div class="row">
    <div class="col-10">
        <div class="user">
    <h1>User Form</h1>
    <div class="form-group col-md-6">
        
      <input type="id" class="form-control"  placeholder=" id">  
      <input type="email" class="form-control"  placeholder=" name">
      <input type="email" class="form-control"  placeholder="address">
      <input type="email" class="form-control"  placeholder="dob">
      <input type="email" class="form-control"  placeholder="salary">
      <input type="email" class="form-control"  placeholder="position">
      <input type="text" class="form-control"  placeholder="description">
    </div>
  <button type="submit" class="btn btn-success" >Add User</button>
  <button type="submit" class="btn btn-success" >Search</button> 
    </div>
  </div>

 
  <div class="col-2">
     <div class="user-card">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
   </div>   
  </div>
  
</div>
</div>