<div class="container" src="https://image.slidesdocs.com/responsive-images/background/food-city-tourism-building-corner-landmark-powerpoint-background_68bac386f3__960_540.jpg">
    <div class="row">
    <div class="col-4">
        <li>nice Location</li>
        <li>nice Location</li>
        <li>nice Location</li>
    </div>
    <div class="col-5">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31718.028572465206!2d79.9830582125586!3d6.425698884479071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae22e900168ca21%3A0x96c438f00a68c060!2sBentota!5e0!3m2!1sen!2slk!4v1731172112601!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
    </div>
  </div>
