.create-account{
    background-color: rgb(127, 255, 138);
    padding:3%;
    margin-left: 24%;
    margin-top: 7%;
    border-radius: 3%;
}
h1{
    text-align: center;
}
button{
    margin-top: 3%;
    margin-left: 10%;
}
.form-group{
    margin-left: 10%;
}