
<div class="form-row col-10">
    <h1>supplier Form</h1>
    <div class="form-group col-md-6">
      
      <input type="email" class="form-control"  placeholder="product id">
      <input type="email" class="form-control"  placeholder="product name">
      <input type="email" class="form-control"  placeholder="price" >
      <input type="email" class="form-control"  placeholder="qty" >
      <input type="email" class="form-control"  placeholder="Date">
      <input type="email" class="form-control"  placeholder="description">
    </div>
    <div class="btn-supplier-manage">
  <button type="submit" class="btn btn-success " >A  d  d </button>
  <button type="submit" class="btn btn-success" >Delete</button>   
  <button type="submit" class="btn btn-success" >Search</button> 
     </div>


  </div>